<div class="account-access step-1" data-is-ready="{{is_ready_to_shop}}"
     data-unready-action="{{unready_action}}">

    {{#if id}}

        <p class="fg-hb-coffee">Estás en sesión actualmente como {{full_name}} ({{email}}).</p>

        <p class="fg-hb-coffee">¿No eres tú? <a href="/salir">Haz clic para finaliza la sesión y accede a tu cuenta</a>

        </p>

        <div class="alert alert-warning {{needs_confirm_class}}">
            <h4>¡Aviso!</h4>
            <p>Para poder realizar un pedido, debes confirmar tu correo.
                <a href="#" onclick="return hierbaBuena.show_confirmation_modal();">Haz clic aquí para confirmarlo</a>
            </p>
        </div>
    {{else}}
        <p class="fg-hb-coffee"><a onclick="return hierbaBuena.show_signin();" href="#">Haz clic para acceder a tu cuenta, o para crearla</a>

        </p>
    {{/if}}

</div>